/*  height: calc(100vh);
width: calc(100vw);
vw  相对于视口的宽度，视口被均分为100单位的vw
vh  相对于视口的高度，视口被均分为100单位的vh */

/* 导航栏样式 */
#app>.el-menu {
	background-color: rgb(1, 1, 1, 0.1);
	left: 10%;
	width: 80%;
	height: 40px;
}

/* 导航栏字体 */
.el-menu--horizontal>.el-submenu .el-submenu__title {
	height: 40px;
	line-height: 40px;
	color: rgb(225, 227, 232);
}

/* 导航栏下浮图标 */
.el-submenu__title i {
	color: #5e6064;
	font-weight: bolder;
}

/* 导航栏hover效果 */
.el-menu--horizontal>.el-submenu .el-submenu__title:hover,
.el-menu--horizontal>.el-menu-item:hover {
	background: rgb(0, 0, 0, 0.1);
}

/* 下拉框的透明效果，不知道为啥下面三个一起设置就出现了重影效果，且0.2的效果跟上面0.1的效果差不多 */
.el-menu--popup-bottom-start {
	background: rgb(0, 0, 0, 0.2);
	overflow: scroll;
	/* height: auto; */
	height: calc(90vh);
}

.el-menu--horizontal .el-menu .el-menu-item {
	background: rgb(0, 0, 0, 0);
}

.el-menu-item {
	background: rgb(0, 0, 0, 0);
}

a,
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
	color: rgb(225, 227, 232);
	padding-left: 10px;
}

a:hover {
	color: black;
}

/* 设置右边浮动 */
.el-menu>.set_up ,
.el-menu>.mywife{
	float: right;
}
