.search {
	position: fixed;
	left: 29%;
	top: 40%;
	width: 42%;
}

.el-input__inner {
	background-color: rgb(1, 1, 1, 0.4);
	border: 0px;
	color: rgb(250, 250, 248);
}

/* 选择下拉框大小 */
.el-select .el-input {
	width: 80px;
}

/* 搜索图标大小 */
.input-with-select>.el-input-group__append .el-button--default {
	width: 76px;
}


.history_search_data{
	color: rgb(250, 250, 248);
	font-size: 14px;
	margin-top: 1px;
}

.show_history{
	background-color: rgb(1, 1, 1, 0.4);
	margin-left: 81px;
	margin-right: 77px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 11px;
}

.show_history:hover{
	background-color: rgb(1, 1, 1, 0.6);
}